@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/ProximaNova-Light.woff2) format("woff2"),url(../fonts/ProximaNova-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../font/ProximaNova-Regular.woff2) format("woff2"),url(../fonts/ProximaNova-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/ProximaNova-Semibold.woff2) format("woff2"),url(../font/ProximaNova-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/ProximaNova-Bold.woff2) format("woff2"),url(../fonts/ProximaNova-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}
ol[class],
ul[class] {
  padding: 0
}
blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
  margin: 0
}
ul[class] {
  list-style: none
}
img {
  display: block;
  width: 100%
}
button,
input,
select,
textarea {
  font: inherit
}
a {
  text-decoration: none
}
body {
  background: #f5f5f5;
  font-family: "Proxima Nova",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000
}
.emx-container {
  max-width: 1184px;
  margin: 0 auto;
  background: #fff
}
.emx-content-container {
  max-width: 1184px;
  padding: 0 50px;
  margin: 0 auto
}
.emx-page-section {
  margin-bottom: 30px
}
.emx-section__heading {
  margin-bottom: 50px
}
.emx-section__title {
  font-size: 48px;
  line-height: 48px;
  color: #202020;
  margin-bottom: 20px
}
.emx-section__subheading {
  margin-bottom: 30px
}
.emx-section__subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px
}
.emx-section-bg {
  max-width: 1184px;
  padding: 0 50px;
  margin: 30px auto 30px
}
.emx-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 36px
}
.emx-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px
}
.emx-text {
  margin-bottom: 30px
}
.emx-text__colored {
  color: #0047bb;
  line-height: 30px
}
.emx-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #1946ba;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  height: 50px;
  padding: 10px 25px;
  width: 230px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.emx-btn:hover {
  background-color: #0d49a1;
  color: #fff
}
.emx-btn:focus {
  background-color: #0d49a1;
  color: #fff;
  outline: 0
}
.emx-btn:active {
  background-color: #0d49a1;
  color: #fff
}
.emx-btn--white {
  background-color: #fff;
  color: #1946ba;
  border: 1px solid transparent
}
.emx-btn--white:hover {
  background-color: #1946ba;
  color: #fff;
  border: 1px solid #fff
}
.emx-btn--white:focus {
  background-color: #0d49a1;
  border: 1px solid #fff;
  outline: 0;
  color: #fff
}
.emx-btn--white:active {
  background-color: #0d49a1;
  color: #fff
}
.emx-link {
  color: #1951a0;
  text-decoration: underline;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}
.emx-link:hover {
  text-decoration: none;
  color: #0d49a1
}
.emx-link:focus {
  color: #0d49a1;
  outline: 0;
  text-decoration: none
}
.emx-link:active {
  color: #0d49a1
}
.emx-list {
  margin-bottom: 20px
}
.emx-list:last-child {
  margin-bottom: 0
}
.emx-list__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px
}
.emx-list__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.emx-list__body {
  list-style: none;
  width: 100%;
  margin-bottom: 10px
}
.emx-list__body:last-child {
  margin-bottom: 0
}
.emx-list__item {
  margin-bottom: 20px;
  position: relative;
  padding-left: 18px
}
.emx-list__item::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #1946ba;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 7px
}
.emx-list__item:last-child {
  margin-bottom: 0
}
.emx-list__text {
  margin-bottom: 20px
}
.emx-lifehack {
  padding: 20px;
  border: 2px solid rgba(25,70,186,.6);
  border-radius: 10px;
  font-style: italic
}
.emx-lifehack__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left
}
.emx-lifehack__icon {
  margin-right: 12px;
  width: auto
}
.emx-lifehack__text {
  font-style: italic
}
.emx-lifehack__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700
}
.emx-lifehack__descr {
  margin-bottom: 15px
}
.emx-lifehack__descr:last-child {
  margin-bottom: 0
}
.emx-lifehack__signature {
  font-size: 14px;
  line-height: 21px
}
.emx-lifehack__signature-link {
  color: inherit
}
.emx-card {
  text-align: left;
  margin-right: 15px;
  width: 50%
}
.emx-card:last-child {
  margin-right: 0
}
.emx-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.emx-card__img {
  border-radius: 10px;
  margin-bottom: 20px
}
.emx-card__img img {
  width: 100%
}
.emx-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 10px
}
.emx-card__subtitle {
  margin-bottom: 20px
}
.emx-card__text {
  margin-bottom: 10px
}
.emx-card__text:last-child {
  margin-bottom: 0
}
.emx-card__text span {
  font-weight: 700
}
.emx-card__lifehack {
  margin-top: 30px
}
.emx-imgcards__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.emx-imgcards__item {
  max-width: 335px;
  margin-right: 40px
}
.emx-imgcards__item:last-child {
  margin-right: 0
}
.emx-imgcards__img {
  margin-bottom: 20px
}
.emx-imgcards__list {
  max-width: 300px;
  padding-left: 40px
}
.emx-imgcards__list:last-child {
  padding-left: 0
}
.emx-imgcards__list-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  margin-bottom: 14px
}
.emx-imgcards__list-item {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px
}
.emx-imgcards__list-item:last-child {
  margin-bottom: 0
}
.emx-imgcards__list-item span {
  display: inline-block;
  margin-right: 14px
}
.fullpage-list__item {
  padding-bottom: 30px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 30px
}
.fullpage-list__item:last-child {
  padding-bottom: 0;
  border: none;
  margin-bottom: 0
}
.fullpage-list__item:nth-child(odd) .fullpage-list__img {
  margin-right: 30px
}
.fullpage-list__item:nth-child(even) .fullpage-list__img {
  margin-left: 30px
}
.fullpage-list__title {
  margin-bottom: 25px
}
.fullpage-list__num {
  color: #1946ba
}
.fullpage-list__text {
  margin-bottom: 15px
}
.fullpage-list__text:last-child {
  margin-bottom: 0
}
.fullpage-list__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.fullpage-list__lifehack {
  margin-top: 20px
}
.fullpage-list__img {
  min-width: 320px
}
.fullpage-list__img:first-child {
  margin-bottom: 20px
}
.fullpage-list__img--bg-right {
  background: url(../images/place08.png) center top no-repeat;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 320px;
  border-radius: 10px;
  background-size: cover
}
.fullpage-list__img--bg-left {
  background: url(../images/place09.png) center top no-repeat;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 320px;
  border-radius: 10px;
  background-size: cover
}
.fullpage-list__img--mobonly {
  display: none
}
.fullpage-list__img--mobonly img {
  border-radius: 10px
}
.emx-quote {
  font-style: italic;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 50px
}
.emx-quote__text {
  margin-bottom: 8px
}
.emx-quote__author {
  font-style: normal;
  font-size: 13px;
  line-height: 20px
}
.emx-quote__author span {
  font-weight: 700
}
.emx-hero {
  background: #0047bb url(../images/hero-bg.jpg) center bottom 30% no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 630px
}
.emx-hero__body {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto
}
.emx-hero__inner {
  height: 100%;
  padding: 0 5% 60px 0
}
.emx-hero__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
  color: #fff;
  text-transform: uppercase
}
.emx-hero__subtitle {
  display: block;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-transform: none;
  color: #fff
}
.emx-about__inner {
  padding: 50px 0 50px
}
.emx-about__description {
  margin-bottom: 10px
}
.emx-about__description:last-child {
  margin-bottom: 0
}
.emx-about__quote {
  text-align: right
}
.emx-vacations .emx-lifehack__title {
  margin-bottom: 15px;
  -moz-text-align-last: left;
  text-align-last: left
}
.emx-vacations .emx-lifehack__descr:first-child {
  margin-bottom: 0
}
.emx-vacations__cards {
  margin-bottom: 30px
}
.emx-places__cards {
  margin-bottom: 30px
}
.emx-places__lifehack {
  margin-bottom: 30px
}
.emx-needs .emx-title {
  margin-bottom: 36px
}
.emx-needs .emx-content-container > .emx-text {
  margin-bottom: 20px
}
.emx-banner {
  padding-bottom: 20px
}
.emx-banner__inner {
  background-color: #1946ba;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.emx-banner__info {
  padding: 50px 60px 50px 30px
}
.emx-banner__item {
  margin-bottom: 38px
}
.emx-banner__item:last-child {
  margin-bottom: 0
}
.emx-banner__item:last-child .emx-banner__btn {
  margin-bottom: 8px
}
.emx-banner__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #fff;
  margin-bottom: 10px;
  text-align: left;
  max-width: 400px
}
.emx-banner__descr {
  text-align: left;
  color: #fff;
  margin-bottom: 20px
}
.emx-banner__descr span {
  font-weight: 700
}
.emx-banner__descr-link {
  color: inherit;
  text-decoration: underline
}
.emx-banner__img {
  display: none
}
.emx-banner__img img {
  width: 100%
}
.emx-banner__img-bg {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px
}
.emx-banner__img-bg--position {
  background: url(../images/banner-bg-1.jpg) center right no-repeat;
  background-size: cover
}
.emx-banner__img-bg--position-2 {
  background: url(../images/banner-bg-2.jpg) center left no-repeat;
  background-size: cover
}
.emx-banner__img-bg--position-3 {
  background: url(../images/banner-bg-3.jpg) center center no-repeat;
  background-size: cover
}
.emx-banner__text {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: left
}
.emx-banner__text:last-child {
  margin-bottom: 0
}
.emx-banner__btn + .emx-banner__descr {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px
}
.emx-banner__list {
  text-align: left;
  margin-bottom: 20px;
  color: #fff
}
.emx-banner__list-title {
  font-weight: 700;
  margin-bottom: 16px
}
.emx-banner__list-item {
  margin-bottom: 16px;
  position: relative;
  padding-left: 24px
}
.emx-banner__list-item::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 7px
}
.emx-banner__list-item:last-child {
  margin-bottom: 0
}
.emx-bye__text {
  max-width: 985px;
  padding-bottom: 20px
}
.emx-app-banner {
  padding-bottom: 50px
}
.emx-app-banner__inner {
  background: #2a85d9 url(../images/app-banner-bg.jpg) center center no-repeat;
  background-size: cover
}
.emx-app-banner__container {
  max-width: 920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.emx-app-banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 30px 50px 50px;
  max-width: 460px;
  color: #fff;
  text-align: left
}
.emx-app-banner__info-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 20px
}
.emx-app-banner__info-text {
  margin-bottom: 30px
}
.emx-app-banner__info-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 280px
}
.emx-app-banner__info-btns img {
  display: block
}
.emx-app-banner__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}
@media screen and (min-width:1184px) {
  .emx-card {
    margin-right: 30px
  }
}
@media screen and (max-width:1184px) {
  .emx-content-container {
    padding: 0 10px
  }
  .emx-section__title {
    font-size: 44px;
    line-height: 44px
  }
  .emx-section__subtitle {
    font-size: 32px;
    line-height: 32px
  }
  .emx-section-bg {
    padding: 0 10px
  }
  .emx-title {
    font-size: 46px;
    line-height: 46px
  }
  .emx-subtitle {
    font-size: 32px;
    line-height: 32px
  }
  .emx-card__title {
    font-size: 22px;
    line-height: 24px
  }
  .emx-hero {
    height: 460px;
    background-image: url(../images/hero-bg-1185.jpg);
    background-position: center left
  }
  .emx-hero__body {
    max-width: 750px
  }
  .emx-hero__title {
    font-size: 44px;
    line-height: 50px
  }
  .emx-hero__subtitle {
    font-size: 20px;
    line-height: 22px
  }
  .emx-banner__img-bg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%
  }
  .emx-banner__img-bg--position {
    background-position: center right 40%
  }
  .emx-banner__img-bg--position-2 {
    background-position: center left 15%
  }
  .emx-banner__img-bg--position-3 {
    background-position: center right 70%
  }
  .emx-app-banner__img {
    padding-right: 50px
  }
}
@media screen and (max-width:767px) {
  .emx-imgcards__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .emx-imgcards__item {
    width: 100%;
    max-width: unset;
    margin-right: 0;
    margin-bottom: 30px
  }
  .emx-imgcards__item:last-child {
    margin-bottom: 0
  }
  .emx-imgcards__list {
    max-width: unset
  }
  .emx-imgcards__list-title {
    font-size: 20px;
    line-height: 24px
  }
  .emx-imgcards__list-item span {
    display: block
  }
  .emx-imgcards__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}
@media screen and (max-width:749px) {
  .emx-page-section {
    margin-bottom: 20px
  }
  .emx-section__heading {
    margin-bottom: 25px
  }
  .emx-section__title {
    font-size: 24px;
    line-height: 24px
  }
  .emx-section__subtitle {
    font-size: 20px;
    line-height: 20px
  }
  .emx-section-bg {
    margin: 0 auto 25px;
    padding: 0
  }
  .emx-title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 25px
  }
  .emx-subtitle {
    font-size: 20px;
    line-height: 22px
  }
  .emx-text {
    margin-bottom: 25px
  }
  .emx-list__title {
    font-size: 20px;
    line-height: 22px
  }
  .emx-list__inner {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .emx-list__body {
    margin-right: 0
  }
  .emx-list__item {
    margin-bottom: 10px
  }
  .emx-lifehack__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .emx-lifehack__icon {
    margin-right: 0;
    margin-bottom: 15px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
  }
  .emx-lifehack__title {
    margin-bottom: 10px;
    text-align: center
  }
  .emx-card {
    padding: 0;
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%
  }
  .emx-card__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .emx-card__title {
    font-size: 18px;
    line-height: 20px
  }
  .emx-card__subtitle {
    margin-bottom: 10px
  }
  .emx-card__lifehack {
    margin-bottom: 10px
  }
  .fullpage-list__item:nth-child(odd) .fullpage-list__img {
    margin-right: 0
  }
  .fullpage-list__item:nth-child(even) .fullpage-list__img {
    margin-left: 0
  }
  .fullpage-list__title {
    margin-bottom: 10px
  }
  .fullpage-list__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .fullpage-list__lifehack {
    margin-bottom: 20px
  }
  .fullpage-list__img {
    width: 100%;
    min-width: unset
  }
  .fullpage-list__img--bg-right {
    background: 0 0;
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset
  }
  .fullpage-list__img--bg-left {
    background: 0 0;
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset
  }
  .fullpage-list__img--mobonly {
    display: block
  }
  .emx-hero {
    background-image: url(../images/hero-bg-690.jpg);
    background-position: center center
  }
  .emx-hero__body {
    max-width: unset
  }
  .emx-hero__inner {
    padding: 0 15% 0 0
  }
  .emx-hero__heading {
    margin: 0 0 20px 16px
  }
  .emx-hero__title {
    font-size: 22px;
    line-height: 30px
  }
  .emx-hero__subtitle {
    font-size: 14px;
    line-height: 20px
  }
  .emx-about__inner {
    padding: 30px 0 30px
  }
  .emx-vacations .emx-lifehack__descr:first-child {
    text-align: center;
    margin-bottom: 15px
  }
  .emx-places .emx-card:last-child {
    margin-bottom: 0
  }
  .emx-needs .emx-title {
    margin-bottom: 25px
  }
  .emx-banner .emx-content-container {
    padding: 0
  }
  .emx-banner__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 0;
    padding: 20px
  }
  .emx-banner__info {
    padding: 0;
    text-align: center
  }
  .emx-banner__info--left {
    text-align: left
  }
  .emx-banner__item {
    margin-bottom: 28px
  }
  .emx-banner__title {
    font-size: 20px;
    line-height: 28px;
    max-width: unset
  }
  .emx-banner__img {
    display: block
  }
  .emx-banner__img-bg {
    background: 0 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
  }
  .emx-banner__btn {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
  }
  .emx-banner__list {
    max-width: unset
  }
  .emx-banner__list-item {
    margin-bottom: 10px
  }
  .emx-app-banner {
    padding-bottom: 40px
  }
  .emx-app-banner__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .emx-app-banner__info {
    max-width: unset;
    text-align: center;
    padding: 15px 10px 20px
  }
  .emx-app-banner__info-btns {
    margin: 0 auto
  }
  .emx-app-banner__img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px
  }
}
@media screen and (max-width:320px) {
  .emx-list__title {
    font-size: 18px;
    line-height: 20px
  }
}